[project]
	description = Team repository
[access "refs/*"]
	owner = group user/shekhan (shekhan)
[access "refs/for/refs/*"]
	read = group user/shekhan (shekhan)
	push = group user/shekhan (shekhan)
	label-Code-Review = -2..+2 group user/shekhan (shekhan)
	label-Verified = -1..+1 group user/shekhan (shekhan)
	rebase = group user/shekhan (shekhan)
	removeReviewer = group user/shekhan (shekhan)
	submit = group user/shekhan (shekhan)
[access "refs/heads/*"]
	read = group user/shekhan (shekhan)
	create = group user/shekhan (shekhan)
	push = +force group user/shekhan (shekhan)
	pushMerge = group user/shekhan (shekhan)
[access "refs/tags/*"]
	push = +force group user/shekhan (shekhan)
	pushTag = group user/shekhan (shekhan)
	pushSignedTag = group user/shekhan (shekhan)
